@model List<Business.CartItem>

@if (Model != null && Model.Count() > 0)
{
    <ul class="dropdown-menu pull-right shoppingcart-box" role="menu">
        <li>
            <table class="table table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        string url = $"/{item.product.Alias}-{item.product.ProductId}.html";

                        <tr>
                            <td class="text-center" style="width:70px">
                                <a href="@url">
                                    <img src="~/images/products/@item.product.Thumb" alt="@item.product.ProductName" style="width:70px"  class="preview">
                                </a>
                            </td>
                            <td class="text-left">
                                <a class="cart_product_name" href="@url">@item.product.ProductName</a>
                            </td>
                            <td class="text-center">@item.amount</td>
                            <td class="text-center">@item.amount x @item.product.Price.Value.ToString("#,##0") RUB</td>
                            <td class="text-right">
                                <a href="@url" class="fa fa-edit"></a>
                            </td>
                            <td class="text-right">
                                <a onclick="cart.remove('2');" class="fa fa-times fa-delete"></a>
                            </td>
                        </tr>
                    }

                        
                </tbody>
            </table>
        </li>
        <li>
            <div>
                <table class="table table-bordered">
                    <tbody>
                        
                        <tr>
                            <td class="text-left">
                                <strong>Total</strong>
                            </td>
                            <td class="text-right">@Model.Sum(x => x.TotalMoney).ToString("#,##0") RUB</td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-right">
                    <a class="btn view-cart" href="cart.html"><i class="fa fa-shopping-cart"></i>View Cart</a> &nbsp; &nbsp; &nbsp;
                     @if (User.Identity.IsAuthenticated)
            {

                        <a class="btn btn-mega checkout-cart" href="/checkout.html"><i class="fa fa-share"></i> <span >Checkout</span></a>

            }
            else
            {
                        <a class="btn btn-mega checkout-cart" href="/dang-nhap.html?returnUrl=/checkout.html"><i class="fa fa-share"></i>Checkout</a>


            }
                </p>
            </div>
        </li>
    </ul>

}

else
{
    <ul class="dropdown-menu pull-right shoppingcart-box" role="menu">
        <li>
            <table class="table table-striped">
                <tbody>
                
                        <tr>
                            
                            <td class="text-left">
                            <a class="cart_product_name">nothing in cart</a>
                            </td>
                           
                        </tr> 

                </tbody>
            </table>
        </li>
       
    </ul>
}


